<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card *ngFor="let user of listaProdutos">
  <ion-card-header>
    <ion-card-title>{{user.nome}}</ion-card-title>
    <ion-card-subtitle>{{user.descricao}}</ion-card-subtitle>
    <ion-card-subtitle>Valido até {{user.validade}}</ion-card-subtitle>
    <ion-card-subtitle>unidades {{user.preco}}</ion-card-subtitle>
  </ion-card-header>

</ion-card>
</ion-content>
