<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <img src="https://www.cdlcampos.org.br/images/noticias/7818_250319093953_capa4.png" alt="imagem de um produto">
    </ion-item>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastro produto</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input placeholder="Digite um email valido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição:</ion-label>
        <ion-input placeholder="Digite uma senha valida"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Validade:</ion-label>
        <ion-input placeholder="Digite uma senha valida"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço:</ion-label>
        <ion-input placeholder="Digite uma senha valida"></ion-input>
      </ion-item>


    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light">Lista</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger">Entrar</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
